beautifulsoup4==4.9.0
blinker==1.4
certifi==2019.9.11
chardet==3.0.4
cycler==0.10.0
docutils==0.15.2
feedgenerator==1.9
idna==2.8
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
minchin.pelican.jinja-filters==1.0.4
minchin.pelican.plugins.image-process==1.2.0
numpy==1.18.4
pandas==1.0.3
pelican==4.1.1
Pillow==7.1.2
Pygments==2.4.2
PyJWT==1.7.1
pyparsing==2.4.2
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
seaborn==0.9.0
seafoam==2.4.3
six==1.14.0
soupsieve==2.0
titlecase==0.12.0
twilio==6.39.0
unicodecsv==0.14.1
Unidecode==1.1.1
urllib3==1.25.6
wincertstore==0.2
